*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 75vh;
    display: grid;
    margin: 0 70px;
}
.container{
    background: #1b1e2e;
    padding: 30px 200px 30px 25px;
}
.wrapper div{
    padding: 80px 20px;
}
.wrapper{
    display: grid;
    gap: 18px;
    grid-template-columns: 1.3fr 0.3fr 0.9fr;
    grid-template-rows: 1.95fr 0.9fr 1.2fr;
    grid-template-areas: "header header nav"
                        "main ads ads"
                        "main footer footer";
}
.Box1{
    grid-area: header;
    background-color: #eb5020 ; 
}
.Box2{
    grid-area:nav;
    background-color: #ffa401;
}
.Box3{
    grid-area: ads;
    background-color: #01aefd;
}
.Box4{
    grid-area: footer;
    background-color: #01aefd;
}
.Box5{
    background-color: #05aa42;
    grid-area: main;
}
.flex-box{
    text-decoration: none;
    text-transform: uppercase;
    color: #1b1e2e;
    background: #eb5020;
    padding: 12px 15px;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 30px;

}
.flex-box:hover{
    background: transparent;
    border: 1px solid #1b1e2e;
}